/* Universal style */

html {
  font-size: 16px;
}

body {
  line-height: 1.4;
  margin: 0 auto;
  background-color: #ebebeb;
}

a {
  text-decoration: none;
  color: black;
}

h1 {
  font-size: 2.5rem;
  font-weight: 800;
  line-height:normal;
}

h2 {
  font-size: 1.8rem;
  font-weight: bold;
}

h3 {
  font-size: 1.2rem;
  font-weight: bold;
}

.flex {
  display: flex;
  align-items: center;
}

.custom {
  background-color: grey;
}

.main {
  max-width: 100%;
  margin: 0 auto;
}

.wrap {
  max-width: 1500px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 1.5rem 2rem 1.5rem;
}

.split_section_60 {
  width: 60%;
  padding-right: 1.5rem;
}

.split_section_40 {
  width: 40%;
  margin: 0 auto;
}

.item {
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item_img {
  width: 35%;
  height: auto;
  margin-right: 1rem;
}

.item_text {
  width: 65%;
  display: flex;
  flex-direction: column;
}

.item_img img {
  width: 100%;
}

/* Header Section */

.header {
  position: fixed;
  top: 0;
  height: 4rem;
  background-color: #ebebeb;
  display: flex;
  justify-content: center;
  width:100%;
  margin: 0 auto;
}

.header .wrap {
  padding: 0 1.5rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
}

.logo img {
    width: 2rem;
}

.logo p span:first-child {
  font-weight: bold;
}

.logo p span:last-child {
  color: grey;
}

.nav_desktop ul{
  display: flex;
  align-items: center;
}

.nav_desktop li {
  padding-left: 1rem;
}

.nav_mobile{
  display: none;
}

.mobile_container {
  display:none;
  padding: 2rem 1rem;
}

/* mobile display */

@media only screen and (max-width: 690px) {
.logo {
display: none;
}

.nav_desktop  ul{
display: none;
}

.nav_mobile {
display: flex;
width: 100%;
}

.nav_mobile ul {
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
width: 100%;
}

.nav_mobile ul li a{
display: flex;
align-items: center;
}
}

/* Top Section */

.top {
  margin-top: 64px;
}

.top img {
  width:100%;
}

.btn {
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
  margin: 1.5rem 0;
  padding: 0.5rem 0;
  border-radius: 0.2rem;
}

.top .split_section_40 {
  padding: 0 1rem;
}

.wrapper {
  max-width: 20rem;
}

.top h3 {
  padding: 1rem 0;
}

.btn span {
  font-size: 1.2rem;
  padding: 0.5rem 0;
}

          /* Mobile view */

@media only screen and (max-width: 851px) {
  h1 {
    font-size: 2rem;
  }

  .top h3 {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 690px) {
  h1 {
    font-size: 2rem;
  }

  .top h3 {
    font-size: 1rem;
  }
  .top .wrap {
    flex-direction: column;
    padding: 0px;
  }

  .top .split_section_60 {
    width: auto;
    padding: 0;
  }

  .top .split_section_40 {
    width: 100%;
    padding: 0px;
  }

  .wrapper {
    margin: auto;
    max-width: 100%;
    text-align: center;
    padding: 0 1rem;
  }
}

/* Resources Section */

.resources .split_section_60 img {
  width: 100%;
}

.resources h2 {
  padding: 2rem 0 1.5rem 0;
}

.resources .split_section_60 p:last-child {
  padding-top: 2rem;
}

.resources {
  align-items: flex-start;
  padding: 0 0 2rem 1.5rem;;
}

.resources .split_section_60 {
  border-right: 0.1rem solid #D3D3D3;
  padding-top: 1.9rem;
  margin-top: 0.1rem;
}

.resources .split_section_40 {
  padding-top: 2rem;
}

.resources .item {
  border-bottom: 0.1rem solid #D3D3D3;
  border-top: 0.1rem solid #D3D3D3;
}

.resources .item:hover {
  background-color: #E9E9E9;
  box-shadow: inset -1px 1px 35px 7px #D3D3D3;
}

.item_text p {
  padding: 0.5rem 0;
}

          /* Mobile view */

@media only screen and (max-width: 960px) {
  .resources p br {
    display: none;
  }
}

@media only screen and (max-width: 960px) {
  .resources  {
    font-size: 0.8rem;
  }
}

@media only screen and (max-width: 690px) {
  .resources p br {
    display: inherit;
  }

  .resources .split_section_40 {
    display: none;
  }

  .resources .split_section_60 {
    display: none;
  }

  .mobile_container {
    display: block;
  }

.resources {
  padding: 0;
  font-size: 1rem;
}

.resources .item_img_mobile img{
  width: 100%
}

.resources .item_text_mobile {
  width: auto;
  padding: 2rem 1rem 2rem 1rem;
}

.item_text_mobile p {
  padding: 0.5rem 0;
}

}

/* Content Section */

.content {
  width: 100%;
  overflow: hidden;
}

.content h2 {
  padding-top:2rem;
  text-align: center;
}
.content_grid_desktop_view {
  margin: auto;
  padding: 0 1rem;
  max-width: 1500px;
  flex-wrap: wrap;
  justify-content: center;
}

.widget {
  width: 25%;
  height: auto;
  margin: 2rem;
  background-color: #ebebeb;
}

.widget .item_text {
  height: 9rem;
  padding: 1rem 1rem 1.5rem 1rem;
  width: auto;
  overflow: hidden;
}

.widget img {
  width: 100%;
}

@media only screen and (max-width: 1070px) {
  .widget {
    font-size: 0.9rem;
    width: 35%
  }

}
}
/* Video Section */



/* Footer Section */
