/* fonts */
@import url('https://fonts.googleapis.com/css?family=Merriweather+Sans:300,400|Merriweather:400,700,900');

/* Universal style */

html {
  font-size: 16px;
  font-family: 'Merriweather Sans', sans-serif;
  font-weight: 100;
}

body {
  line-height: 1.4;
  margin: 0 auto;
  background-color: #ECEEF4;
  color: #111124;
}

a {
  text-decoration: none;
  color: #52528B;
  font-size: inherit;
  transition: all 500ms;
}

a:hover {
  color: #A7A4A3;
  transition: color 500ms linear 100ms;
}

a:active {
  font-size: 1rem;
  transition: font-size 900ms;
}

p, span, a {
  font-size: 0.9rem;
}

h1 {
  font-size: 2.5rem;
  font-weight: 800;
  line-height:normal;
  font-family: 'Merriweather', serif;
}

h2 {
  font-size: 1.8rem;
  font-weight: bold;
  color: #8B7F52;
  font-family: 'Merriweather', serif;
}

h3 {
  font-size: 1.2rem;
  font-weight: bold;
  color: #8B7F52;
  font-family: 'Merriweather', serif;
}

img {
  border-radius: 0.2rem;
}

.flex {
  display: flex;
  align-items: center;
}

.main {
  max-width: 100%;
  margin: 0 auto;
}

.wrap {
  max-width: 1500px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 1.5rem 2rem 1.5rem;
}

.split_section_60 {
  width: 60%;
  padding-right: 1.5rem;
}

.split_section_40 {
  width: 40%;
  margin: 0 auto;
}

.item {
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: inherit;
  transition: background-color 1s linear 200ms;
}

.item:hover {
  background-color: #DCDFEA;
  transition: background-color 700ms linear 100ms;
}

.item_img {
  width: 35%;
  height: auto;
  margin-right: 1rem;
}

.item_text {
  width: 65%;
  display: flex;
  flex-direction: column;
}

.item_img img {
  width: 100%;
}

@media only screen and (max-width: 425px) {
  html{
    font-size: 0.8rem;
  }
  .top {
    margin-top: 51px !important;
  }
}

/* Header Section */

.header {
  position: fixed;
  top: 0;
  height: 4rem;
  background-color: #ECEEF4;
  display: flex;
  justify-content: center;
  width:100%;
  margin: 0 auto;
  z-index: 5;
}

.header .wrap {
  padding: 0 1.5rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  font-family: 'Merriweather', serif;
}

.logo img {
  width: 2rem;
}

.logo p span{
  font-size: 1.5rem;
}

.logo p span:first-child {
  font-weight: bold;
  color: #52528B;
}

.logo p span:last-child {
  color: #CDCACD;
}

.nav_desktop ul{
  display: flex;
  align-items: center;
}

.nav_desktop li {
  padding-left: 1rem;
}

.nav_mobile{
  display: none;
}

.mobile_container {
  display:none;
  padding: 2rem 1rem 0 1rem;
}

/* IE10+ */

@media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {
   .header .wrap {
     margin: 0px;
   }
}

/*Responsive*/

@media only screen and (max-width: 690px) {
  .header {
    background-color: #C0C2D7;
  }

  .logo {
    display: none;
  }

  .nav_desktop  ul{
    display: none;
  }

  .nav_mobile {
    display: flex;
    width: 100%;
  }

  .nav_mobile ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .nav_mobile ul li a{
    display: flex;
    align-items: center;
  }
}

/* Top Section */

.top {
  margin-top: 64px;
  background-color: #C0C2D7;
}

.top .wrap {
  padding-right: 0px;
}

.top img {
  width:100%;
}

.btn {
  width: 100%;
  background-color: #8B7F52;
  color: #111124;
  text-align: center;
  margin: 1.5rem 0;
  padding: 1rem 0;
  border-radius: 0.2rem;
  transition: color 500ms;
}

.btn:hover {
  color: #E1E2E8;
  transition: color 1s linear 100ms;
}

.btn:active {
  padding: 0.5rem 0;
  transition: padding 300ms;
}

.top .split_section_40 {
  padding: 0 1rem;
}

.wrapper {
  max-width: 25rem;
}

.top h3 {
  padding: 1rem 0;
  color: #111124;
}

.btn span {
  font-size: 1.2rem;
  padding: 0.5rem 0;
}

/*Responsive*/

@media only screen and (max-width: 990px) {
  h1 {
    font-size: 2rem;
  }

  .top h3 {
    font-size: 1rem;
  }
}


@media only screen and (max-width: 816px) {

  .top .wrap {
    flex-direction: column;
    padding: 0px;
  }

  .top .split_section_60 {
    width: auto;
    padding: 0;
  }

  .top .split_section_40 {
    width: 100%;
    padding: 0px;
  }

  .wrapper {
    margin: auto;
    max-width: 100%;
    text-align: center;
    padding: 2rem 1rem 0 1rem;
  }
}

/* Resources Section */

.resources .split_section_60 img {
  width: 100%;
}

.resources h2 {
  padding: 2rem 0 1.5rem 0;
}

.resources .split_section_60 p:last-child {
  padding: 2rem 0;
}

.resources {
  align-items: flex-start;
  padding: 0 0 0 1.5rem;;
}

.resources .split_section_60 {
  border-right: 0.1rem solid #DCDFEA;
  padding-top: 1.9rem;
  margin-top: 0.1rem;
}

.resources .split_section_40 {
  padding-top: 2rem;
}

.resources .split_section_40 li {
  border-bottom: 0.1rem solid #DCDFEA;
}

.resources .split_section_40 li:first-child {
  border-top: 0.1rem solid #DCDFEA;
}

.item_text p {
  padding: 0.5rem 0;
}

.item img {
  opacity: 0.9;
  -webkit-filter: grayscale(20%); /* Safari 6.0 - 9.0 */
  filter: grayscale(20%);
}
/*Responsive*/

@media only screen and (min-width: 1500px) {
  .resources .split_section_60 p:last-child {
    padding-bottom: 3.5rem;
  }
}

@media only screen and (max-width: 960px) {
  .resources p br {
    display: none;
  }

  .resources  {
    font-size: 0.8rem;
  }
}

@media only screen and (max-width: 801px) {
  .resources p br {
    display: inherit;
  }

  .resources .split_section_40 {
    display: none;
  }

  .resources .split_section_60 {
    display: none;
  }

  .mobile_container {
    display: block;
  }

  .resources {
    padding: 0;
    font-size: 1rem;
  }

  .resources .item_img_mobile img{
    width: 100%;
    opacity: 0.9;
    -webkit-filter: grayscale(20%); /* Safari 6.0 - 9.0 */
    filter: grayscale(20%);
  }

  .resources .item_text_mobile {
    width: auto;
    padding: 2rem 1rem 2rem 1rem;
  }

  .item_text_mobile p {
    padding: 0.5rem 0;
  }

}

/* Content Section */

.content {
  width: 100%;
  overflow: hidden;
  background-color: #DCDFEA;
}

.content h2 {
  padding-top:2rem;
  text-align: center;
}

.content_grid_desktop_view {
  margin: auto;
  padding: 0 1rem;
  max-width: 1500px;
  flex-wrap: wrap;
  justify-content: center;
}

.widget {
  width: 25%;
  height: auto;
  margin: 2rem;
  color: black;
  border-radius: 0.2rem;
  background-color: #ECEEF4;
  transition: background-color 1000ms linear 200ms,
  border-radius 1000ms linear 100ms,
  color 500ms linear 100ms;
}

.widget:hover {
  background-color: #E1E2E8;
  border-radius: 0.8rem;
  color: #52528B;
  transition: background-color 500ms linear 100ms,
  border-radius 1000ms linear 100ms,
  color 500ms linear 200ms;
}

.widget .item_text {
  height: 9rem;
  padding: 1rem 1rem 1.5rem 1rem;
  width: auto;
  overflow: hidden;
}

.widget img {
  width: 100%;
  opacity: 0.9;
  -webkit-filter: grayscale(20%); /* Safari 6.0 - 9.0 */
  filter: grayscale(20%);
}

.content_mobile_view {
  display: none;
  margin: 1rem 0rem 1.5rem 0rem;
}

.widget_btn {
  background-color: #C0C2D7;
  border-radius: 0.2rem;
  margin: 0.5rem 1rem;
  opacity: inherit;
  padding: 1rem 1rem 1.5rem 1rem;
  transition: opacity 500ms;
}

.widget_btn:hover {
  opacity: 0.9;
  transition: opacity 500ms;
}

.widget_btn:active {
  padding: 1.2rem;
  transition: padding 1500ms;
}

.widget_btn h3 {
  color: #111124;
  transition: color 700ms;
}

.widget_btn:hover h3 {
  color: #52528B;
  transition: color 700ms;
}

/*Responsive*/

@media only screen and (max-width: 1070px) {
  .widget {
    font-size: 0.9rem;
    width: 35%
  }

  .content_grid_desktop_view {
    padding: 0;
  }
}

@media only screen and (max-width: 690px) {
  .content_grid_desktop_view {
    display: none;
  }

  .content_mobile_view {
    display: block;
  }

  .content {
    background-color: #ECEEF4;
    border-top: 0.1rem solid #DCDFEA;
    border-bottom: 0.1rem solid #DCDFEA;
  }
}

/* Video Section */

.video_section {
  border-bottom: 0.1rem solid #DCDFEA;
}

.video_section h2{
  padding-top: 2rem;
  text-align: center;
}

.video_section h3 {
  padding: 0rem 0 0.5rem 0;
}

.video {
  align-items: flex-start;
}

@media only screen and (min-width: 1500px) {
  .video_section .split_section_60 p {
    padding-bottom: 3rem;
  }
}

@media only screen and (max-width: 801px) {
  .video_section .split_section_40 {
    display: none;
  }

  .video_section .split_section_60 {
    width: 100%;
    padding: 0;
  }

  .video_section .split_section_60 h3 {
    display: none;
  }

  .video_section .split_section_60 p {
    display: none;
  }
}

/* Footer Section */

.footer {
  padding: 0;
}

footer {
  width: 100%;
  padding:1rem 1.5rem 3rem 1.5rem;
  display: flex;
  justify-content: space-between;
  color: #52528B;
}

footer a {
  padding-left: 1rem;
}

@media only screen and (max-width: 550px) {
  .footer_link {
    display: none;
  }

  footer {
    padding:3rem 1.5rem 1rem 1.5rem;
  }

}
